/**
 * Created by Administrator on 2017/11/7
 * 首页的CSS样式
 */

/* 承载整个页面的大盒子 */
.container {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
}

/* 头部 */
.header {
    width: 100%;
    height: 1.18rem;
    background-color: #91D4DA;
    position: relative;
}

.header .icon-back {
    height: 0.47rem;
    line-height: 0.47rem;
    padding-left: 0.42rem;
    background: url("../images/icon-back.png") no-repeat;
    background-size: 0.28rem 0.47rem;
    font-size: 16px;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    left: 0.31rem;
    top: 50%;
}

.header .header-title {
    height: 1.18rem;
    line-height: 1.18rem;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

/* 导航栏 */
.nav-list {
    height: 1.18rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.nav-list li {
    height: 1.18rem;
    line-height: 1.18rem;
    text-align: center;
    font-size: 16px;
    border-bottom: solid 0.1rem #fff;
    color: #666666;
    -webkit-flex: 1;
    flex: 1;
}

.nav-list li.active {
   border-bottom-color: #8DD7D6;
}

/* banner */
.banner img {
    width: 100%;
}

.tab {
    padding-top: 0.42rem;
    padding: 0.42rem .16rem 0.52rem;
}

.tab .tab-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.tab .tab-list .tab-item {
    text-align: center;
    -webkit-flex: 1;
    flex: 1;
}

.tab .tab-list .tab-image {
    width: 1.2rem;
}

.tab .tab-list .tab-name {
    padding-top: 0.42rem;
    font-size: 14px;
    font-weight: bold;
    color: #2D2D2D;
}

.column {
    padding-left: 0.28rem;
    padding-right: 0.28rem;
}

.column .column-list {
    padding-top: 0.42rem;
    padding-bottom: 0.42rem;
    border-top: solid 1px #DEDEDE;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.column .column-list li {
    padding-bottom: 0.19rem;
    border-right: solid 1px #DFDFDF;
    text-align: center;
    -webkit-flex: 1;
    flex: 1;
}

.column .column-list li a {
    height: 2.3rem;
    display: block;
    position: relative;
}

.column .column-list li:nth-last-child(1) {
    border-right: none;
}

.column .column-list .column-image {
    height: 1.8rem;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.column .column-list .column-title1 {
    padding-top: 0.14em;
    margin-bottom: 0.28rem;
    font-size: 18px;
    color: #303030;
}

.column .column-list .column-title2 {
    font-size: 14px;
    color: #5C5C5C;
}

.module {
    width: 100%;
    padding-left: 0.33rem;
    padding-right: 0.33rem;
}

.module .module-title {
    height: 1.22rem;
    line-height: 1.17rem;
    margin-bottom: 0.37rem;
    border-bottom: solid 0.05rem #E0E0E0;
    font-size: 20px;
}

.module .module-content .module-top,
.module .module-content .module-bottom {

    /* 设置布局方式为弹性布局 */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* 设置元素在主轴上的对齐方式为两端对齐 */
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    /* 设置元素在侧轴上的对齐方式为占满父元素的高 */
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding-bottom: 0.24rem;
}

.module .module-image {
    width: 2.42rem;
    height: 2.28rem;
    border: solid 0.02rem #FFB935;
}

.module .module-content .module-info {
    width: 6.65rem;
    height: 2.28rem;

    /* 设置布局方式为弹性布局 */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* 设置元素排列时要换行 */
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    /* 设置元素在主抽上两端对齐 */
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    /* 设置元素在多根侧轴上的对齐方式为两端对齐 */
    -webkit-align-content: space-between;
    align-content: space-between;
}

.module .module-info .module-text {
    width: 3.2rem;
    height: 1rem;
    line-height: 1rem;
    background-color: #F8F8F8;
    font-size: 14px;
    text-align: center;
    color: #4B4B4B;
}

.news-column {
    padding: 0.24rem 0.28rem;
    border-bottom: solid 0.05rem #F3F3F3;

    /* 设置布局方式为弹性布局 */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* 设置元素在主轴上的对齐方式为两端对齐 */
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    /* 设置元素在侧轴上的对齐方式为占满父元素的高 */
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.news-column .news-image {
    width: 2.82rem;
    height: 1.98rem;
}

.news-column .news-content {
    width: 6.35rem;

    /* 设置布局方式为弹性布局 */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* 将主轴的方向设置为竖直方向 */
    flex-direction: column;

    /* 设置元素在主轴上的对齐方式为两端对齐 */
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.news-column .news-content .news-title {
    font-size: 18px;
    color: #565656;
}

.news-column .news-content .news-time {
    font-size: 14px;
    color: #BABABA;
}

.news-row {
    padding: 0 0.28rem;
}

.news-row .news-title {
    height: 1rem;
    line-height: 1rem;
    font-size: 18px;
}

.news-row .image-list {
    /* 设置布局方式为弹性布局 */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.news-row .image-list .image-item {
    -webkit-flex: 1;
    flex: 1;
}

.news-row .image-list .image-item img {
    width: 3.1rem;
    height: 2rem;
}

.news-row .news-time {
    padding: 0.24rem 0;
    font-size: 14px;
    color: #BABABA;
}

.footer {
    width: 100%;
    height: 1.4rem;
    background-color: #F8F8F8;
}



















